<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.thoughtworks.api.infrastructure.mybatis.mappers.ProductMapper">
    <insert id="save">
        INSERT INTO products (id, name, description, price, rating)
        VALUES (#{product.id}, #{product.name}, #{product.description}, #{product.price}, #{product.rating})
    </insert>

    <select id="findById" resultMap="records.product">
        SELECT *
        FROM products P
        WHERE P.id = #{id}
    </select>

    <select id="find" resultMap="records.product">
        SELECT *
        FROM products
    </select>
</mapper>
